.galeria {
    margin: 5% 5%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
        img {
            width: 400px;
            padding-bottom: 1%;
        }
    }
}

@media (max-width: 576px) {
    .galeria {
        margin: 7% 1%;
        li {
            img {
                width: 100%;
            }
        }
    }
}
